.cont{
border: 3px solid rgb(161, 230, 23);
width: 360px;
margin: 0 auto;
}
.main{
    width: 350px;
    background-color: peru;
}
.can{
    width: 360px;
    margin-top: 10px;
    background-color: powderblue;
}
.btn{
    width: 85px;
    margin-top: 3px;
    background-color: saddlebrown;
}
.btmn{
    width: 175px;
    margin-top: 3px;
    background-color: saddlebrown  
}

@media only screen and (max-width: 600px) {
    .cont{
        margin: 0;
        width: 180px;
    }
    .btn{
        width: 42px;
    }
    .main{
        width: 172px;
    }
    .can{
        width: 180px;
    }
    .btmn{
        width: 85px;
    }
}
 